<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
    <h1 class="col-md-12">Visor Cuentas</h1>
      <h2 class="col-md-5">userId es {{userId}}</h2>
    <h2 class="col-md-5">Iban es {{iban}}</h2>
    <h2 class="col-md-5">y balance es {{balance}} </h2>
     </div>


      <iron-ajax
        auto=""
        id="getUser"
        url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
        handle-as="json"
        on-response="showData"
      >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Mundo 2'
          },
          iban: {
            type: String
          },

          balance: {
            type: Number
          },
          userId: {
            type: Number
          },
          id: {
            type: Number
          }
        };
      }

    showData (data) {
          console.log("Datos de usuario");
       console.log(data.detail.response);
          console.log(data.detail.response.IBAN);
       console.log(data.detail.response.balance);
       console.log(data.detail.response.userId);
       this.iban = data.detail.response.IBAN;
       this.balance = data.detail.response.balance;
       this.userId = data.detail.response.userId;
            }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
